.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: white;
  align-items: center;
  cursor: pointer;
}

.remove-task {
  background-color: #444;
  border-style: none;
  font-size: 22px;
  color: yellowgreen;
  cursor: pointer;
  margin: 0 5px;
}

.edit-task {
  background-color: #444;
  border-style: none;
  font-size: 22px;
  color: yellowgreen;
  cursor: pointer;
  margin: 0 5px;
}

.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
